<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{block "Title" .}}{{.Page.Title | lower }}{{end}}</title>
	<meta name="Description" content="{{block "Description" .}}{{.Page.Description | title }}{{end}}">
	{{- block "CSS" .}}{{end}}
</head>
<body>
	<div>
		{{- block "Header" . -}}
			Default header
		{{- end -}}
	</div>
	<div class="container">
		<div class="content">
			{{- block "Content" . -}}
				Default content
			{{- end -}}
		</div>
		<div class="metabar">
			{{- block "Metabar" . -}}
				Default metabar
			{{- end -}}
		</div>
	<div>
	<div class="footer">
		{{- block "Footer" . -}}
			Default footer
		{{- end -}}
	</div>
	{{- block "JS" .}}{{end}}
</body>
</html>
